body, html{
    background-color: #ffffff;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}
header{
    text-align: center;
    color: white;
    background-color: #2d639b;
    height: 100px;
    box-shadow: 0 -6px 10px #162843 inset, 0 6px 10px #162843 inset;
}
header h1{
    font-family:"Baskerville Old Face";
    letter-spacing: 3px;
}

.navbar{
    margin-bottom: 50px;
    z-index: 99;
}
.navbar-inverse{
    background-color: #244f7b;
    border:0;
    border-bottom: 1px solid #244f7b;
    border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fffde6;
}
.dropdown-menu>li>a:focus{
    background-color: #00001d;
}
.dropdown-menu>li>a:active{
    background-color: #00001d;
}

.navbar-inverse .navbar-nav>.active>a{
    color: #e0deca;
    background-color: #162843;
}
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #162843;
}
.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: #162843;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #00001d;
}
.navbar-inverse .navbar-brand{
    color:white;
    font-size: 1.5em;
    font-family: "Baskerville Old Face";
}
#navUsername{
    color: #f59f7b;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: bold;
}
nav .dropdown-menu{
    min-width: 125px;
    background-color: #244f7b;
}
.dropdown-menu>li>a{
    color: #fffde6;
}
.dropdown-menu>li>a:hover{
    color: #eab751;
    background-color: #080808;
}

footer{
    background-color: #244f7b;
    border-radius: 4px 4px 0 0;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer>h3{
    font-size: 20px;
    line-height: 15px;
    color: #f59f7b;
}
.margin-top{
    margin-top: 75px;
}
.margin-bottom{
    margin-bottom: 75px;
}