.red{
    color:red;
    font-weight: bolder;
    font-size: 45px;
    text-align: right;
}
.formGroup{
    background-color: #f9f9f9;
    padding: 15px 0 0 0;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.form-group>p{
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

