@keyframes OpenModal{
    from{top:-50%}
    to {top:0}
}
@keyframes CloseModal{
    from{top:0}
    to {top:-50%}
}
#modal-background{
    display: none;
    z-index: 998;
    background-color: rgba(0,0,0,0.6);
    top:0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
#modal-window{
    position: relative;
    z-index: 999;
    background-color: rgb(255,255,255);
    min-height: 35%;
    width: 50%;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    border-radius: 3px 3px 6px 6px;
    animation-name: OpenModal;
    animation-duration: 1s;
}
#close-modal{
    margin: 0;
    position: absolute;
    top:0;
    right:0;
}