.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    margin: auto;
    min-width: 400px;
    max-width: 400px;
    min-height: 275px;
    max-height: 275px;
}
.opt{
    padding-left: 5px;
    display: block;
}
.detailsContainer{
    padding-top: 50px;
}
.glyphicon-ok{
    color: green;
}
.glyphicon-remove{
    color:red;
}
.priceParcelle{
    font-weight: 500;
}
tbody>tr>td>.glyphicon{
   left: 50%;
}
.btnReservation{
    font-weight: 700;
}
#InfosReservation{
    margin-top:25px;
}
#InfosReservation>p{
    font-weight: 600;
}
#prixTotal{
    font-weight: 800;
    color: red;
}