.inline-block{
    display: inline-block;
}
.parcelleLocation{
    font-weight: 700;
    color:black;
}
.availableCell{
     width: 120px;
 }
.details{
    color:green;
    text-decoration: underline;
    font-weight: 700;
}
.reservation:hover, .reservation:focus{
    color: #004b00;
}