{% extends "::base.html.twig" %}

{% block title %}MainBundle:Parcelle:create{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/createParcelle.css') }}">
{% endblock %}

{% block body %}
    <div class="container margin-bottom">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Ajouter parcelle</h2></div>
            <div class="panel-body row">
                {{ form_start(form) }}
                <div class="col-md-10 col-md-offset-1 formGroup">
                    <div class="col-md-6 form-group">
                        <p>Type</p>
                        {{ form_row(form.parcelleType) }}
                    </div>
                    <div class="col-md-6 form-group">
                        <p>Options</p>
                        <div class="col-md-6 form-group">
                            {{ form_row(form.parcelleOpt.parcelleOptWater) }}
                            {{ form_row(form.parcelleOpt.parcelleOptElectricity) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_row(form.parcelleOpt.parcelleOptTV) }}
                            {{ form_row(form.parcelleOpt.parcelleOptWC) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(form.parcelleLocation) }}
                        {{ form_row(form.parcelleMainPicture) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(form.parcellePriceDay) }}
                        {{ form_row(form.parcelleAvailable) }}
                    </div>
                    <div class="col-md-12 form-group">
                        <p>Images secondaires</p>
                        <button id='add_picture' type="button">Ajouter image secondaire</button>
                    </div>
                    <div class="col-md-12 form-group">
                        <div id="picture_container" class="hidden"></div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 text-center">
                        {{ form_row(form.submit, {attr:{"class": "btn btn-success"}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('assets/js/addPict.js') }}"></script>
 {% endblock %}