{% extends "::base.html.twig" %}

{% block title %}MainBundle:Parcelle:detailsParcelle{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Welcome to the Parcelle:detailsParcelle page</h1>
{% endblock %}

