{% extends "::base.html.twig" %}

{% block title %}MainBundle:Parcelle:delete{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/viewAll.css') }}">
 {% endblock %}

 {% block body %}
     <div class="container-fluid margin-bottom">
         <div class="row">
             <div class="col-md-12">


                 <div class="col-md-7 col-sm-12">
                     <h2 class="inline-block">Plan du domaine</h2>
                     <div class="col-md-12 mapCamping">
                         MAP

                     </div>
                 </div>
                 <div class="col-md-5 col-sm-12">
                     <h2 class="inline-block">Parcelles</h2>
                     <div class="table-responsive">
                         <table class="table table-striped table-bordered">
                             <thead>
                             <tr>
                                 <th>Emplacement</th>
                                 <th>Type</th>
                                 <th>Disponibilité</th>
                             </tr>
                             </thead>
                             <tbody>

                             {% for p in parcelles %}
                                 <tr>
                                     <td class="text-center">
                                         <a href="{{ path('detailsParcelle', {'id': p.id}) }}"
                                            class="parcelleLocation">{{ p.parcelleLocation }}</a>
                                     </td>
                                     <td>
                                         {{ p.parcelleType.parcelleTypeName }}
                                     </td>
                                     <td>
                                         {% if p.parcelleAvailable == 1 %}
                                             <p class="inline-block availableCell">Disponible</p>
                                         {% else %}
                                             <p class="inline-block availableCell">Indisponible</p>
                                         {% endif %}

                                         <span>
                                             <a href="{{ path('updateParcelle', {'id': p.id}) }}">
                                                 <button class="updateCatBtn">Modifier</button>
                                             </a>
                                            <a href="{{ path('deleteParcelle', {'id': p.id}) }}">
                                                <button class="deleteCatBtn">Supprimer</button>
                                            </a>
                                             {% if p.parcelleAvailable == 1 %}
                                                 <a href="{{ path('calculPrixReservation', {'id': p.id}) }}" class="details">Détails</a>
                                             {% endif %}
                                         </span>
                                     </td>
                                 </tr>
                             {% endfor %}

                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
         </div>
     </div>

 {% endblock %}


