{% extends "::base.html.twig" %}

{% block title %}Reservation parcelle{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/reservation.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/css/modal.css') }}">
 {% endblock %}

 {% block body %}
     <div id="modal-background">
         <div id="modal-window">
             <button id="close-modal" class="glyphicon glyphicon-remove"></button>
             <h3>Réservation emplacement {{ parcelle.parcelleLocation }}</h3>
             {{ form_start(form) }}
             <div class="col-md-6 col-sm-12 form-group">
                 {{ form_row(form.reservationStartDate) }}
                 {{ form_row(form.reservationEndDate) }}
             </div>
             <div class="col-md-6 col-sm-12 form-group" id="InfosReservation">
                 <p>Durée du séjour: <span id="dureeSejour"></span></p>
                 <p>Prix Total: <span id="prixTotal"></span></p>
             </div>
             <div class="col-md-10 col-md-offset-1
col-sm-12" id="btn-ajax">
                 {{ form_widget(form.submit, {attr:{"class": "btn btn-success"}}) }}
             </div>
             {{ form_end(form) }}
         </div>
     </div>

     <div class="container-fluid margin-bottom">
         <div class="row">
             <div class="col-md-5 col-sm-12">
                 <div class="col-md-12 col-sm-6">
                     <h2>{{ parcelle.parcelleType.parcelleTypeName }}</h2>
                 </div>
                 <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel">
                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                         {% for p in parcelle.parcelleSecondaryPictures %}
                             {% if (loop.first) %}
                                 <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                             {% else %}
                                 <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"></li>
                             {% endif %}
                         {% endfor %}
                     </ol>
                     <!-- Wrapper for slides -->
                     <div class="carousel-inner">
                         <div class="item active">
                             <img src="{{ asset(parcelle.parcelleMainPicture.pictureURL) }}" alt="Image principale">
                         </div>
                         {% for p in parcelle.parcelleSecondaryPictures %}
                             {% if not(loop.first) %}
                                 <div class="item">
                                     <img src="{{ asset(p.pictureURL) }}" alt="img secondaires">
                                 </div>
                             {% endif %}
                         {% endfor %}

                     </div>

                     <!-- Left and right controls -->
                     <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                         <span class="glyphicon glyphicon-chevron-left"></span>
                         <span class="sr-only">Previous</span>
                     </a>
                     <a class="right carousel-control" href="#myCarousel" data-slide="next">
                         <span class="glyphicon glyphicon-chevron-right"></span>
                         <span class="sr-only">Next</span>
                     </a>
                 </div>
             </div>
             <div class="col-md-7 col-sm-12 detailsContainer">
                 <h4>Caracteristiques</h4>
                 <div class="table-responsive col-md-12">
                     <table class="table table-striped table-bordered">
                         <thead>
                         <tr>
                             <th class="text-center">Eau</th>
                             <th class="text-center">Electricité</th>
                             <th class="text-center">Télévision</th>
                             <th class="text-center">WC</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr>
                             <td>
                                 {% if parcelle.parcelleOpt.parcelleOptWater == 1 %}
                                     <span class="glyphicon glyphicon-ok"></span>
                                 {% else %}
                                     <span class="glyphicon glyphicon-remove"></span>
                                 {% endif %}
                             </td>
                             <td>
                                 {% if parcelle.parcelleOpt.parcelleOptElectricity == 1 %}
                                     <span class="glyphicon glyphicon-ok"></span>
                                 {% else %}
                                     <span class="glyphicon glyphicon-remove"></span>
                                 {% endif %}
                             </td>
                             <td>
                                 {% if parcelle.parcelleOpt.parcelleOptTV == 1 %}
                                     <span class="glyphicon glyphicon-ok"></span>
                                 {% else %}
                                     <span class="glyphicon glyphicon-remove"></span>
                                 {% endif %}
                             </td>
                             <td>
                                 {% if parcelle.parcelleOpt.parcelleOptWC == 1 %}
                                     <span class="glyphicon glyphicon-ok"></span>
                                 {% else %}
                                     <span class="glyphicon glyphicon-remove"></span>
                                 {% endif %}
                             </td>
                         </tr>
                         </tbody>
                     </table>
                 </div>
                 <div class="col-md-12">
                     <button class="btn btn-success btnReservation" id="btnModal">Réserver<span
                                 class="priceParcelle"> ({{ parcelle.parcellePriceDay }}€/jour) </span></button>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/modal.js') }}"></script>
    <script src="{{ asset('assets/js/Datepicker.js') }}"></script>
    {#<script src="{{ asset('assets/js/reservation.js') }}"></script>#}

    <script>
        $("#mainbundle_reservation_reservationEndDate").change(function (e) {
            e.preventDefault();
            $.post("{{ path('calculPrixReservation', {'id': parcelle.id}) }}", $("form").serializeArray(), function (data) {
                $("#dureeSejour").html(data.duree + " jours");
                $("#prixTotal").html(data.prixTotal + "€")
            })
        });

        $("#mainbundle_reservation_reservationStartDate").change(function (e) {
            e.preventDefault();
            $.post("{{ path('calculPrixReservation', {'id': parcelle.id}) }}", $("form").serializeArray(), function (data) {
                $("#dureeSejour").html(data.duree + " jours");
                $("#prixTotal").html(data.prixTotal + "€")
            })
        });

        $("#mainbundle_reservation_submit").click(function (e) {
            e.preventDefault();
            var startDate = $("#mainbundle_reservation_reservationStartDate").val();
            var endDate = $("#mainbundle_reservation_reservationEndDate").val();
            var prixTotal = $("#prixTotal").html();
            prixTotal = prixTotal.substr(0, prixTotal.length - 1);

//            startDate = startDate.split("/");
//            startDate = new Date(startDate[2], startDate[1] - 1, startDate[0]);
//
//            endDate = endDate.split("/");
//            endDate = new Date(endDate[2], endDate[1] - 1, endDate[0]);
            console.log(startDate);
            console.log(endDate);
            console.log(prixTotal);

            $.post("{{ path('reserveParcelle', {'id': parcelle.id}) }}", {
                startDate: startDate,
                endDate: endDate,
                prixTotal: prixTotal
            })
        });
    </script>

{% endblock %}