<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('_home') }}">Camping</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('_home') }}">Home</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.token.user.userRoles[0] == "ROLE_ADMIN" %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Administration
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('createParcelle') }}" class="aMenu">Ajouter parcelles</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Parcelles
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('viewAllParcelle') }}" class="aMenu">Voir parcelles</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                       id="navUsername"> USERNAME
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="#" class="aMenu">Voir
                                Profil</a>
                        </li>
                    </ul>
                </li>
                {#{% endif %}#}
                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                <li><a href="{{ path('main_user_logout') }}"><span
                                class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
                {#{% endif %}#}

                {#{% if  not is_granted('IS_AUTHENTICATED_FULLY') %}#}
                <li><a href="{{ path('main_user_register') }}"><span
                                class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                <li><a href="{{ path('main_user_login') }}"><span
                                class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
                {#{% endif %}#}
            </ul>
        </div>
    </div>
</nav>
