{% extends '::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login_user.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3" id="login">
            {#{% for key, message in session.Flashes %}#}
            {#{% if key == 'errorPwd' or key == 'errorName' %}#}
            {#{{ message }}#}
            {#{% endif %}#}
            {#{% endfor %}#}
            <form action="{{ path('main_user_login_check') }}" method="post" class="form-horizontal col-md-10 col-md-offset-1">
                <div><h2>Login</h2></div>
                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="_username" class="form-control" placeholder="Nom d'utilisateur" autofocus>

                </div>
                <div class="input-group  form-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="_password" class="form-control" placeholder="Mot de passe">

                </div>
                <div class="form-group">
                    <input type="submit" value="Se connecter" name="s" class="btn btn-primary col-md-12">
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label for="rememberMe"><input type="checkbox"
                                                           checked
                                                           id="rememberMe" name="rememberMe">Remember me</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

